.git
.gitignore
.DS_Store

.docker
.dockerignore
Dockerfile
Dockerfile.prod
docker-bake.prod.hcl
docker-compose*.yml

LICENSE

*/__pycache__/
**/__pycache__/

# Environments
.env
.venv
env/
venv/
ENV/
.env.dev
.env.prod
.env.prod.db
.env.dev.sample
.env.prod.sample
.env.prod.db.sample
.pylintrc